body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    background-color: rgb(191, 196, 216);
    display: flex;
    flex-direction: row;
  }
  
  nav {
    width: 25vw;
    height: 100vh;
  }
  
  header {
    float: left;
    width: 225px;
    height: auto;
    border-radius: 0 0 6px 0;
    padding: 10px;
    margin-right: 10px;
  }
  
  h1 {
    font-size: 52px;
    color: rgb(240, 12, 12);
    margin: 10px 0;
    font-family: "Great Vibes", cursive;
  }
  
  h2 { 
    font-family: "Great Vibes", cursive;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  main {
    /* float: left; */
    margin-left: 100px;
    width: 200px;
  }
  
  #brewery-list {
    overflow: scroll;
    height: 90vh;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 30px,
      rgb(81, 79, 79) 10px,
      rgb(81, 79, 79) 10px
    );
  }
  
  #brewery-list li {
    font-size: 2vh;
    margin-top: 4vh;
    padding-top: 4vh;
    background-color: rgb(241, 11, 11);
    border-top-left-radius: 30%;

    border-top-right-radius: 30%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  #brewery-list li:hover {
    color: white;
  }
  
  .brewery-details h2 {
    font-size: 40px;
    text-align: center;
    align-items: center;
  }
  
  .brewery-details h3 {
    font-size: 24px;
  }
  
  .brewery-details img {
    display: block;
    height: 200px;
    margin: 0 auto 25px auto;
  }
  
  form {
    width: 250px;
    margin: 0 auto 25px auto;
  }
  
  textarea {
    display: block;
    width: 150%;
    height: 50px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  form button[type="submit"] {
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgb(232, 15, 15);
    color: #fff;
    padding: 7px 10px;
    cursor: pointer;
  }
  
  #review-list li {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }